
@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<table id="resultTable">
    <tr><td>Όνομα	</td>  <td>Επώνυμο	</td> <td>Address	</td>  <td>Email	</td></tr>
</table>


<input type="button" onclick="loadCustomers()"
       value="Submit">
     
       
    
 

