@model CrmMvcProj.Models.CustomerModel
@{
    ViewData["Title"] = "Customers";
}


<h1>Customers</h1>

    <table id="resultTable" border="1"
       style="color:darkslateblue;background-color:lightcyan"
       cellpadding="1" cellspacing="1">
        <tr> <th>Όνομα	</th>  <th>Επώνυμο</th>  <th>Address </th> 
            <th>Email</th>  
        </tr>
    @{
        foreach (var customer in Model.Customers)
        {
            <tr>
                <td> @customer.FirstName</td>
                <td> @customer.LastName</td>
                <td> @customer.Address </td>
                <td> @customer.Email</td>
            </tr>
        }
     }
        </table>

