@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Καλώς ήρθατε</h1>
    <p>Learn about 
        <a href="https://www.codehub.gr/">
            Codehub
        </a>.</p>
    <img src ="https://www.codehub.gr/wp-content/uploads/2018/01/cropped-CodeHub-logo_320x132.png" />

</div>
