
@{
    ViewData["Title"] = "LoginCustomer";
}


    <h1 align="center">Login Customer</h1>

    <form id="LoginCustomer">
        <table align="center">
            <tr><td>Email	</td>  <td> <input type="text" id="Email" name="Email" placeholder="Email">	</td>  </tr>
            <tr><td>Password	</td>  <td> <input type="text" id="Password" name="Password" placeholder="Password">	</td>  </tr>
            <tr>
                <td colspan="2">
                    <input type="button"  id="loginButton"  value="Submit">
                 </td>
            </tr>
        </table>

    </form>

    <div id="responseDiv">   </div>


       
       
        
 
