@model CrmMvcProj.Models.Shopping
@{
    ViewData["Title"] = "Shopping";
}


<h1>Shopping</h1>

<div class="row">
    <div class="column" style="background-color:#aaa;">
        <h2>Available products</h2>

        <ol>
            @{
                foreach (var product in Model.availableProducts)
                {
                    <li>
                        <a href="#" id="prod@(product.Id)" 
                           onclick="addToBasket('prod@(product.Id)',  @product.Id, @Model.BasketId)">
                            @product.Name
                        </a>
                    </li>
                }
            }
        </ol>
    </div>

    <div class="column" style="background-color:#bbb;">
        <h2>Current Basket</h2>
        <ul id="MyBasket">
        </ul>
    </div>
</div>


<button>Finalize basket</button>












